
<table>
  <thead>
    <tr>
      <th>All Articles</th>
      <th>Description</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @articles.each do |article|%>
    <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to "Show", article %></td>
    <td><%= link_to "Edit", edit_article_path(article.id), data: {  turbo_method: :edit,} %></td>
    <td><%= link_to "Destroy", article_path(article.id), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></td>
    </tr>
    <%end%>
  </tbody>
  <p><%= link_to "Create New Article", new_article_path(@articles) %></p>

</table>




