<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "Alpha blogs", root_path, class:"navbar-brand", id:"logo"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_url, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Articles", articles_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bloggers", users_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if logged_in? %>
          <%= link_to "Create New Article", new_article_path, class: "dropdown-item"%>
          <% end %>
          <a class="dropdown-item" href="#">View Articles</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
        <% if logged_in?%>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile [<%= current_user.username%>]
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View Your Profile", user_path(current_user), class: "dropdown-item"%>
            <%= link_to "Edit Your Profile", edit_user_path(current_user), class: "dropdown-item"%>
        </li>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, class:"nav-link", method: :delete %>
          </li>
          <li class="nav-item">
            <%= link_to current_user.username, current_user, class:"nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
           <%= link_to "Sign Up", signup_path, class:"nav-link"%>
          </li>
          <% end %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>